* {
    font-family: 'Courier New', Courier, monospace;
}

body {

}

header{
    position: fixed;
}

nav{

    position: relative;

}

section{

}

div{

}

.title{

}

.nav-box{
    display: inline-block;
    position: relative;
}